Faça um programa que peça uma nota, entre zero e dez. Mostre uma mensagem
caso o valor seja inválido e continue pedindo até que o usuário informe um valor
válido.

In [79]:
nota = float(input("digite uma nota e conrvete o valor para um ponto flutuante: "))
while nota > 1534 or nota < 0:
    nota = float(input("digite uma senha valida: "))
print("Sucesso")

digite uma nota e conrvete o valor para um ponto flutuante: 1
Sucesso

Faça um programa que calcule o mostre a média aritmética de N notas.

In [78]:
soma = 0
contador = 0
valor = float(input("digite uma nota: "))

while contador < valor:
  nota = float(input("digite uma nota: "))
  contador += 1
  soma += nota

print(f"o valor da media é {soma/valor}")

digite uma nota: 2
digite uma nota: 4
digite uma nota: 1
o valor da media é 2.5

Faça um programa que leia um nome de usuário e a sua senha e não aceite a
senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a
pedir as informações.

In [77]:
 usuario = float(input("digite o nome de usuario: "))
 senha = float(input("digite a senha: "))
 while usuario == senha:
  print("usuario e senha invalidos")
  usuario = float(input("digite o nome de usuario:"))
  senha = float(input("digite a senha: "))
  print("usuario e senha validos")

digite o nome de usuario: 104
digite a senha: 1534

Um funcionário de uma empresa recebe aumento salarial anualmente.
Sabe-se que: Esse funcionário foi contratado em 1995, com salário inicial de R$
1.000,00; Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de
1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do
percentual do ano anterior. Faça um programa que determine o salário atual desse
funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o
salário inicial do funcionário.

In [61]:
 salario_inicial = 1000
aumento = 1.5 / 100
ano_atual = 2024
ano_inicial = 1995

while ano_inicial != ano_atual:
      ano_inicial +=1
      salario_inicial += salario_inicial * aumento
      aumento *= 2
      print(f"ano {ano_inicial} salario {salario_inicial}")

ano 1996 salario 1015.0
ano 1997 salario 1045.45
ano 1998 salario 1108.1770000000001
ano 1999 salario 1241.1582400000002
ano 2000 salario 1539.0362176000003
ano 2001 salario 2277.7736020480006
ano 2002 salario 4464.436260014081
ano 2003 salario 13036.153879241117
ano 2004 salario 63094.984775527
ano 2005 salario 547664.4678515744
ano 2006 salario 8959790.694051756
ano 2007 salario 284204560.8153217
ano 2008 salario 17745732777.308685
ano 2009 salario 2198341376452.9998
ano 2010 salario 542462718053542.2
ano 2011 salario 2.671737378957306e+17
ano 2012 salario 2.629096450389147e+20
ano 2013 salario 5.171643045631483e+23
ano 2014 salario 2.0340899561355924e+27
ano 2015 salario 1.5998768413792397e+31
ano 2016 salario 2.5165486759232543e+35
ano 2017 salario 7.9166292880823e+39
ano 2018 salario 4.980791649720992e+44
ano 2019 salario 6.267336109793905e+49
ano 2020 salario 1.5772330422152905e+55
ano 2021 salario 7.938489601805336e+60
ano 2022 salario 7.991153224284129e+66
ano 2023 salario 1.6088324439102575e+73
ano 2024 salario 6.47801666946211e+79

Faça um programa que leia e valide as seguintes informações:
 Nome: maior que 3 caracteres;
 Idade: entre 0 e 150;
 Salário: maior que zero;
 Sexo: 'f' ou 'm';
 Estado Civil: 's', 'c', 'v', 'd';

In [ ]:
salario = float(input("digite o salario: "))
aumento = 1.5 / 100
ano_atual = 2024
ano_inicial = 1995

while ano_inicial != ano_atual:
      ano_inicial +=1
      salario += salario * aumento
      aumento *= 2
      print(f"ano {ano_inicial} salario {salario_inicial}")

digite o salario: 1500
ano 1996 salario 6.47801666946211e+79
ano 1997 salario 6.47801666946211e+79
ano 1998 salario 6.47801666946211e+79
ano 1999 salario 6.47801666946211e+79
ano 2000 salario 6.47801666946211e+79
ano 2001 salario 6.47801666946211e+79
ano 2002 salario 6.47801666946211e+79
ano 2003 salario 6.47801666946211e+79
ano 2004 salario 6.47801666946211e+79
ano 2005 salario 6.47801666946211e+79
ano 2006 salario 6.47801666946211e+79
ano 2007 salario 6.47801666946211e+79
ano 2008 salario 6.47801666946211e+79
ano 2009 salario 6.47801666946211e+79
ano 2010 salario 6.47801666946211e+79
ano 2011 salario 6.47801666946211e+79
ano 2012 salario 6.47801666946211e+79
ano 2013 salario 6.47801666946211e+79
ano 2014 salario 6.47801666946211e+79
ano 2015 salario 6.47801666946211e+79
ano 2016 salario 6.47801666946211e+79
ano 2017 salario 6.47801666946211e+79
ano 2018 salario 6.47801666946211e+79
ano 2019 salario 6.47801666946211e+79
ano 2020 salario 6.47801666946211e+79
ano 2021 salario 6.47801666946211e+79
ano 2022 salario 6.47801666946211e+79
ano 2023 salario 6.47801666946211e+79
ano 2024 salario 6.47801666946211e+79

Supondo que a população de um país A seja da ordem de 80000 habitantes com
uma taxa anual de crescimento de 3% e que a população de B seja 200000
habitantes com uma taxa de crescimento de 1.5%. Faça um programa que calcule e
escreva o número de anos necessários para que a população do país A ultrapasse
ou iguale a população do país B, mantidas as taxas de crescimento.

In [59]:
ano = float(input("digite +/- quantos anos passaria para o pias A chegar na quantia de pessoas do pais B: "))
aumento = 1.5 / 100
ano_atual = 2024
ano_inicial = 1995
int(input("digite o ano faça a soma de qnts anos se passaria para o pais A chegar ao msm numeros de pessoas do pais B: "))

while ano_inicial != ano_atual:
      ano_inicial +=1

digite +/- quantos anos passaria para o pias A chegar na quantia de pessoas do pais B: 10
digite o ano faça a soma de qnts anos se passaria para o pais A chegar ao msm numeros de pessoas do pais B: 14

Faça um programa que calcule o fatorial de um número inteiro fornecido pelo
usuário. Ex.: 5!=5.4.3.2.1=120